
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500&display=swap');

.colorbg{
    height: 100vh;
    margin: 0px;
    /* border: 1px solid black; */
    width: 410px;
    display: inline-block;
}
body{
    margin: 0px;

}
#cvv{
    font-family: Space Grotesk;
    color: white;
    font-weight: 300; 
    position: absolute;
    top: 80px;
    left: 325px;
    font-style: italic;
    font-size: 16px;
}
.bacimg{
    width: auto;
    height: 220px;
}
.frimg{
    width: auto;
    height: 220px;
}
.right{
    /* border: 1px solid black; */
    height: 340px;
    width: 290px;
    position: absolute;
    /* left: 900px; */
    padding: 15px;
    /* top: 200px; */
    font-family: Space Grotesk;
    backface-visibility: hidden;
}
#confirm{
    margin-top: 25px;
    border-radius: 5px;
    border: 1px solid rgb(50, 30, 77);
    background-color: rgb(50, 30, 77);
    color: white;
    height: 34px;
    width: 285px;
}
.inputs{
    height: 25px;
    width: 270px;
    margin-bottom: 15px;
    border-color: gray;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 8px;
    opacity: 0.7;
}.rotate{
    height: 340px;
    backface-visibility: hidden;
    width: 290px;
    transform: rotateY(180deg);
    position: absolute;
    /* left: 900px; */
    /* border: 1px solid black; */
    padding: 15px;
    /* top: 200px; */
    font-family: Space Grotesk;
}
.sillu{
    transform-style: preserve-3d;
    /* border: 1px solid black; */
    position: absolute;
    left: 900px;
    transition: 1s;
    top: 200px;
    height: 340px;
    width: 290px;
    
}
#tick{
    width: auto;
    height: 50px;
    position: absolute;
    left: 140px;
}
#tk{
    position: absolute;
    top:80px;
    left: 110px;
    font-family: Space Grotesk;
}
#con{
    margin-top: 25px;
    border-radius: 5px;
    border: 1px solid rgb(50, 30, 77);
    background-color: rgb(50, 30, 77);
    color: white;
    position: absolute;
    top:185px;
    height: 34px;
    width: 285px;
}
#info{
    position: absolute;
    top: 130px;
    opacity: 0.7;
    left: 60px;
    font-family: Space Grotesk;
}
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
#err1{
    color: red;
    position: absolute;
    top:123px;
    font-size: 11px;
    padding-left: 2px;
    margin-bottom: 5px;
    /* border: 1px solid black; */

}
#err2{
    color: red;
    position: absolute;
    top:190px;
    padding-left: 2px;
    font-size: 11px;
}
#err3{
    position: absolute;
    top: 190px;
    color: red;
    left: 176px;
    font-size: 11px;
    

}
#cvvv{
    position: absolute;
    top: 149px;
    left: 172px;
}
.cvv{
    height: 25px;
    width: 120px;
    border-radius: 5px;
    opacity: 0.7;
    border: 1px solid grey;
    padding-left: 8px;
}
.date{
    height: 25px;
    width: 55px;
    border-radius: 5px;
    border: 1px solid grey;
    padding-left: 8px;
    opacity: 0.7;
    margin-right: 5px;
    margin-top: 3px;
    
    
}
.labels{
    font-size: 12px;
    color: black;
    font-weight: 500;
}
#cardnum{
    position: absolute;
    top: 95px;
    left:34px;
    font-size: 26px;
    font-family: Space Grotesk;
    color: white;
    font-weight: 300;

}
#ballimg{
    position: absolute;
    top: 30px;
    left:34px ;
}
#cardname{
    font-family: Space Grotesk;
    color: white;
    position: absolute;
    top: 160px;
    left: 34px;
    font-weight: 400;
}
#cardexp{
    font-family: Space Grotesk;
    color: white;
    position: absolute;
    top:160px;
    left: 310px;
    font-weight: 400;
}
.front{
    /* border: 1px solid black; */
    width: 405px;
    height: 220px;
    position: absolute;
    left: 150px;
    top: 90px;
}
.back{
    /* border: 1px solid black; */
    width: 405px;
    position: absolute;
    top: 350px;
    left: 240px;
}